
**/.melviz/
**/out/
**/.DS_Store
*.log
.classpath
.project
**/.settings/


# builds
**/build
**/.rpt2_cache


# Eclipse, Netbeans and IntelliJ files
**/nbproject
**/.classpath
**/.project
**/.settings

**/jitexecutor

**/.errai

melviz-runtime-parent/melviz-runtime-client/src/main/webapp/WEB-INF/classes
packages/melviz/**/org.uberfire
packages/melviz/**/org.melviz
packages/melviz/**/WEB-INF/classes/
packages/melviz/dashboard.zip
packages/melviz/nbproject
packages/melviz/uberfire-docs/src/main/asciidoc/*.html
packages/melviz/**/gwt-unitCache
packages/melviz/melviz-authoring/src/main/webapp/WEB-INF/lib/
packages/melviz/melviz-authoring/src/main/webapp/WEB-INF/classes/
packages/melviz/**/dependency-reduced-pom.xml
packages/melviz/melviz-runtime-parent/melviz-runtime-client/src/main/webapp/melviz/component
**/.apt_generated/
**/.apt_generated_tests/
packages/melviz/**/.checkstyle


#maven
.flattened-pom.xml
**/mvnw
**/mvnw.cmd
**/.mvn

# Ignore all build artifacts
target/
*.class
*.jar
*.war
*.ear
*.zip

